$imgs : "../images/";

body {
	background-color: #111;
}

a, img {
	border: none;
}

#modal {
    display: none;
    position: fixed;
    left: 0%;
    top: 0%;
    background-color: #000;
    opacity: .70;
    width: 100%;
    height: 100%;
    z-index: 90;
}

#bodyContent {
	background-color: white;
	border: solid 1px #555;
	width: 1010px;
	margin: auto;
}

.header {
	background-color: #000;
	height: 307px;
	background-image: url( '#{$imgs}/headerImage.jpg' );
	background-repeat: no-repeat;
	box-shadow: -2px 2px 3px #777;
}

.headline {
	text-transform: uppercase;
}

.socialIcons {
	float: right;
	margin: 20px;

	

	a {
		margin-right: 6px;
	}
}

.redShadow {
	color: #c4161c;
	text-shadow: 1px 1px 2px rgba(150, 150, 150, 0.65);
}

.red {
	color: #c4161c;
}

.teaserBar {
	margin: 6px 0;
	width: 100%;

	h2, h5 {
		margin: 0;
	}

	h2#liveLikeRay {
		background: url('../images/liveLikeRay.jpg') no-repeat;
		height: 30px;
	}

	h5 {
		font-size: 22px;
		font-weight: 400;
	}
}

.rdButton {
	color: white;
	width: 217px;
	text-align: center;
	text-transform: uppercase;
	background: url("../images//buttonPattern.png");
	height: 27px;
	padding-top: 8px;
	font-size: 21px;
	border-radius: 3px;
	box-shadow: -1px 2px 3px #000;
	overflow: hidden;
	cursor: pointer;
}

.rdButton:hover, a:hover{ opacity: .7;}

#infoSection {
	margin: 12px 42px;
}

#enterNow {
	margin: 10px 0 22px 0;
}

.prize {
	overflow: auto;

	.col1 {
		float: left;
		width: 514px;
		overflow: hidden;
		height: 345px;

		#grandPrize {
			height: 55px;
			background: url('../images/grandPrizeTrip.jpg') no-repeat;
		}

		#weeklyWinners {
			height: 40px;
			background: url('../images/weeklyWinners.jpg') no-repeat;
		}

		.headline {
			font-size: 30px;
			width: 360px;
			line-height: 28px;
		}

		.subHead {
			color: #48636d;
			font-size: 23px;
			width: 450px;
		}

		ul {
			padding-left: 18px;
			margin-top: 5px;
			list-style-image: url('#{$imgs}/bullet.png');

			li {
				font-size: 21px;
				padding-bottom: 7px;
				color: #333;
				font-weight: 300;
			}
		}

	}

	.col2 {
		float: right;
		width: 365px;
		overflow: hidden;
		height: 345px;
		margin-right: 9px;
		position: relative;
		top: -20px;
	}
}

.attractBar {
	height: 128px;
	border-top: solid 1px #999;
	padding-top: 34px;
	padding-left: 11px;
}

.upgradeOrWatch {
	padding: 22px;
	position: relative;
	top: -35px;
	background-color: #cadddd;
	height: 200px;
	margin-left: -16px;
	margin-right: -14px;
	/*Go ahead, tell me that negative margins are a hack... See what happens.*/

	a {
		text-decoration: none;
		color: #fff;
	}

	.upgrade, .watch {
		float: left;
		padding: 10px 10px;
		text-align: center;

		.basicText {
			font-size: 19px;
			line-height: 23px;
			color: #444;
		}
	}

	.upgrade {
		width: 483px;
		.basicText {
			margin: auto;
			padding-top: 2px;
		}
		.headlineLight.red {
			font-weight: 800;
			letter-spacing: -2px;
		}
		#orderShowtime {
			background: url('../images/orderShowtime.jpg') no-repeat;
			height: 48px;
		}
	}

	.watch {
		width: 386px;
		border-left: solid 1px #999;

		#watchNow .btnText {
			position: relative;
			left: -5px;
			top: -1px;
		}

		#watchFree {
			background: url('../images/watchFree.jpg') no-repeat;
			height: 50px;
		}
	}

	.headlineLight.red {
		font-size: 28px;
		text-transform: uppercase;
		line-height: 20px;
		letter-spacing: -1px;
		padding-bottom: 2px;
	}

	.rdButton {
		overflow: auto;
		margin: 20px auto 10px auto;

		img {
			float: left;
			margin-top: -4px;
			margin-left: 20px;
		}
	}
}

.footer {
	height: 200px;
	background-color: #48636d;
	color: #cadddd;
	font-size: 10px;
	line-height: 14px;
	margin: auto;

	.rules {
		width: 955px;
		margin: auto;
		text-align: justify;
	}

	.links {
		width: 220px;
		margin: auto;
		font-size: 12px;
		padding: 10px;

		a {
			color: #cadddd;
			border-left: solid 1px #cadddd;
			padding: 0 10px;
		}
		a:first-child {
			border-left: none;
		}
	}
}

.overlay {
	font-family: Arial;

	position: absolute;
	top: 50%;
	left: 50%;
	margin: -203px 0 0 -344px;

	width: 687px;
	height: 405px;

	background-color: #fff;
	border: solid 1px #2f4045;
	

	display:none;
	z-index: 91;
	box-shadow: 5px 5px 10px;	

	.middleThird {
		background-color: #cadddd;
		position: relative;
		top: -4px;
	}

	.attractBar {
		height: 43px;
		padding: 8px 0px 0 0;
		width: 687px;
		border: none;
		text-align: center;
	}
}

.closeBtn {
	height: 20px;
	width: 20px;
	position: absolute;
	z-index: 100;
	background-color: #fff;
	right: 0px;
	margin: 6px;
	cursor: pointer;
}

#entryForm {
	.closeBtn {
		background: url("../images/entryForm_closeBtn.jpg");
	}

	#entry {
		padding-top: 19px;
		height: 165px;
		width: 570px;
		margin: auto;
		color: #555;

		.row {
			width: 604px;
			overflow: hidden;
		}

		.row3 {
			color: #f00;
			font-size: 11px;
			margin-bottom: -21px;
			height: 30px;
			margin-left: 8px;
			width: 548px;
			padding-top: 1px;
		}

		.err {
			border: solid 2px #f00;
		}

		input[type='text'] {
			height: 11px;
			width: 242px;
			background: url(../images/entryForm_tfBg.jpg);
			padding: 10px;
			margin: 3px 8px -2px 8px;
			text-transform: uppercase;
			border-right: solid 1px #444;
			border-bottom: solid 1px #444;
			border-top: solid 1px #cdcccc;;
			border-left: solid 1px #cdcccc;
			font-size: 12px;
		}

		.input {
		  display: block;
		  float: left;
		  font-size: 12px;
		  padding-bottom: 6px;		

			span {
			  	position: absolute;
				z-index: 1;
				cursor: text;
				pointer-events: none;
				padding: 7px;
				line-height: 24px;
				margin-left: 14px;
				text-transform: uppercase;
			}

			select {
			  padding: 5px;
			  /* Unfortunately selects don't respond well to padding. They need an explicit height. */
			  height: 31px;
			}
		}

		label[for='agree'] {
			font-size: 13px;
			position: relative;
			top: 8px;
		}

		label[for='agree'].err {
			border: none;
			border-bottom: solid 2px #f00;
		}

		.lighter {
			color: #999;
		}

		.darker {
			color: #555;
		}

		#entryForm_enterNow {
			margin: 20px auto;
			font-size: 24px;
		}

		#agree {
			width: 25px;
			position: relative;
			top: 8px;
			left: 3px;
			margin-right: -2px;
			height: 15px;
		}
	}
}

#thankYou {
	h2 {
		margin: 0;
	}
	.closeBtn {
		background: url("../images/thankYou_closeBtn.jpg");
	}

	.middleThird {
		height: 186px;

		.flavor {
			text-align: center;
			margin-bottom: 10px;
			font-weight: 400;
			font-size: 18px;
			padding-top: 4px;
		}

		#preClick {
			display:block;

		}

		#postClick {
			display:none;
			height: 77px;
		}
	}

	#getMyBonusEntry {
		width: 317px;
		margin: 20px auto;
		height: 25px;
		padding-top: 4px;
		margin-top: 14px;
	}

	.ty_socialIcons {
		margin: auto;
		width: 74px;
		height: 30px;

		a {
			margin-right: 6px;
		}
	}
}


#tooSoon {
	
	.middleThird {
		height: 173px;

	}

	.tooSoonAlert {
		margin: auto;
		width: 80%;
		padding-top: 20px;
		font-size: 21px;
	}

}